.header {
    display: flex;
    justify-content: space-between;
    
}

.nav {
    display: flex;
    gap: 10px;
}




/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 320px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}